{% extends 'base.html' %}

{% block page %}
<title>TraceLink: Options</title>
<link rel="stylesheet" , href="../static/styles/add.css">
{% endblock %}

{% block nav %}
<div class="rightnav">
    <a class='nav-link' href=''>Logged in&nbsp&nbsp<i class="fa fa-user norm" aria-hidden="true"></i></a>
</div>
{% endblock %}

{% block custom %}
<button type="button" id="reg" onclick="addp()">ADD PRODUCT</button>
<button type="button" id="log" onclick="add2sc()">LOG TO PRODUCT</button>

<div id="chosen">
    <form method="post" action='/company'>
        <fieldset id="inps">

            <!-- employee id & company id taken during login -->
            <label class="b2" for="pid" id="pid">Product Id:
                <input name="pidi" id="pidi" class="b2i" /></label>
            <br>
            <label class="b1" id="pname" for="product name">Product Name:
                <input name="namei" id="namei" required class="b1i" /></label>
            <br>
            <label for="brand" id="brand" class="b1">Brand:
                <input id="brandi" name="brandi" required class="b1i" /></label>
            <br>
            <label class="b1" for="desc">Description:
                <input id="desc" class="b1i" required name="desc" /></label>
            <br>
            <label class="b1" for="quantity" id="quant">Quantity:
                <input name="quanti" id="quanti" class="b1i" required /></label>
            <br>
            <label class="all" for="task" id="task">Task:
                <input name="taski" id="taski" class="alli" required /></label>
            <!-- Location to be added -->
            <br>
            <label class="all" for="fid" id="fid">From:
                <input name="fidi" id="fidi" class="alli" required /></label>
            <br>
            <label class="all" for="tid" id="tid">To:
                <input name="tidi" id="tidi" class="alli" required /></label>
            <br>
            <p class="all">Note: Time, location & login details are taken automatically.</p>
        </fieldset>
        <input id="submit" type="submit" value="Submit" />
    </form>
</div>
<br>
<script src='{{ url_for("static", filename="add2.js") }}'></script>
{% endblock %}