{% extends 'base.html' %}

{% block page %}
<title>TraceLink: Response</title>
<link rel="stylesheet" , href="../static/styles/add.css">
{% endblock %}

{% block nav %}
<div class="rightnav">
    <a class='nav-link' href=''>Logged in&nbsp&nbsp<i class="fa fa-user norm" aria-hidden="true"></i></a>
</div>
{% endblock %}

{% block custom %}
<button type="button" id="reg" onclick="addp()">ADD PRODUCT</button>
<button type="button" id="log" onclick="add2sc()">LOG TO PRODUCT</button>

<div id="chosen">
    <form method="post" action='.'>
        <fieldset id="inps">

            <!-- employee id & company id taken during login -->
            <label class="b2" for="pid" id="pid">Product Id:
                <input id="pidi" class="b2i" /></label>
            <br>
            <label class="b1" id="pname" for="product name">Product Name:
                <input name="name" id="namei" required class="b1i" /></label>
            <br>
            <label for="brand" id="brand" class="b1">Brand:
                <input id="brandi" name="Brand" required class="b1i" /></label>
            <br>
            <label class="b1" for="desc">Description:
                <input id="desc" class="b1i" type="password" required name="desc" /></label>
            <br>
            <label class="b1" for="quantity" id="quant">Quantity:
                <input id="quanti" class="b1i" required /></label>
            <br>
            <label class="b1" for="task" id="task">Task:
                <input id="taski" class="b1i" /></label>
            <!-- Location to be added -->
            <br>
            <label class="all" for="fid" id="fid">From:
                <input id="fidi" class="all" /></label>
            <br>
            <label class="all" for="tid" id="tid">To:
                <input id="tidi" class="all" /></label>
            <br>

        </fieldset>
        <input id="submit" type="submit" value="Submit" />
    </form>
</div>
<br>
<script src='{{ url_for("static", filename="add.js") }}'></script>
{% endblock %}