button {
    padding: 10px 20px;
    margin: 40px 120px;
    margin-bottom: 40px;
    border: 1px solid #AED6F1;
    font-size: medium;
    font-family: 'Poppins', sans-serif;
}

input {
    /* margin: 10px 0 0 0; */
    /* width: 100%; */
    height: 2.5em;
    width: 250px;
    background-color: #010101;
    border: 1.5px solid #dae9f7;
    border-radius: 5px;
    color: #f0f8ff;
    padding: 5px 10px;
    margin: 10px;
    transition: all 1s ease-in-out;
    -webkit-transition: all 1s ease-in-out;
}

#chosen {
    margin: auto;
    align-items: center;
    width: 70%;
    text-align: right;
    translate: -50px 0;
}

.b1,
.b1i,
.b2,
.b2i,
.all {
    height: 2em;
    font-size: small;
}

#submit {
    translate: -40px 0;
    border-radius: 50px;
    background-color: #dae9f7;
    color: #010101;
}