button {
    padding: 10px 20px;
    margin: 40px 120px;
    margin-bottom: 100px;
    border: 1px solid #AED6F1;
    font-size: medium;
    font-family: 'Poppins', sans-serif;
}

input {
    /* margin: 10px 0 0 0; */
    /* width: 100%; */
    height: 2.5em;
    width: 300px;
    background-color: #010101;
    border: 1.5px solid #dae9f7;
    border-radius: 5px;
    color: #f0f8ff;
    padding: 5px 10px;
    margin: 10px;
    transition: all 1s ease-in-out;
    -webkit-transition: all 1s ease-in-out;
}

::placeholder {
    color: #f0f8ff;
}

.newi:focus {
    border: none;
    border-bottom: 1.5px solid #f0f8ff;
}

.normal {
    translate: 0 50px;
    transition: all 1s ease-in-out;
    -webkit-transition: all 1s ease-in-out;
}

.newl {
    /* translate: 20px 40px; */
    transition: all 1s ease-in-out;
    -webkit-transition: all 1s ease-in-out;
    visibility: hidden;
}

.newi {
    transition: all 1s ease-in-out;
    -webkit-transition: all 1s ease-in-out;
    /* width: 63%; */
    /* padding: 20px 0 15px 0; */
    /* translate: 0 -10px; */
    /* height: 1em; */
    /* border: none; */
}

#chosen {
    margin: auto;
    align-items: center;
    width: 70%;
    text-align: right;
    translate: -50px 0;
}

#submit {
    translate: -40px 0;
    border-radius: 50px;
    background-color: #dae9f7;
    color: #010101;
}

/* #submit: {
    background-color: #010101;
    color: #AED6F1;
} */